body{
display:flex;
height:100vh;
justify-content:center;
align-items: center;
}
a{
display:block;
width:200px;
padding:15px 0;
background-color:red;
font-size:35px;
border:5px solid red;
text-align:center;
font-weight:bold;
}