body{
	height: 100vh;
	font-family: "Autography"
}
.page{
	 width: 1200px;
	 display: grid;
	 grid-template-rows: 60px 1fr;
	 grid-template-columns: 2fr 11fr;
	 grid-template-areas: "h h"
	 "n m";
	 margin: 0 auto;
	 grid-gap: 5px;
	 height: 100vh;
}
header{
	grid-area: h;
	background-color: #3ba8a6;

}
header .logo img{
	height: 60px;
	width: auto;
}
nav{
	grid-area: n; 
	background-color: #3b56a8;	
}
nav .navbar-item{
	width: 90%;
	height: 25px;
	background-color:#326fa8;
	border-radius: 10%/35%;
	transition:0.3s linear;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav .navbar-item a{
	text-decoration:none;
	color: white;
	font-size:20px;  
}
nav .navbar-item:hover{
	font-weight: bold;
	transform: translateX(5%);
}
main{
	grid-area: m;
	background-color: #3ba85f;
}
main .avatar img{
	width: 300px;
	height: auto;
}
main .ava-desc{
	height: 500px;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
main .ava-desc .avatar {
	height: auto;
	width:300px
	border:1px solid black;
	

}
main .ava-desc .desc{
	width: 150px;
	height: 100px;
	border:1px solid black;
	
}