body{
	height: 100vh;
	font-family: "Autography"
}
.page{
	 width: 1200px;
	 display: grid;
	 grid-template-rows: 60px 1fr;
	 grid-template-columns: 2fr 11fr;
	 grid-template-areas: "h h"
	 "n m";
	 margin: 0 auto;
	 grid-gap: 5px;
	 height: 100vh;
}
header{
	grid-area: h;
	background-color: #3ba8a6;

}
header .logo img{
	height: 60px;
	width: auto;
}
nav{
	grid-area: n; 
	background-color: #3b56a8;	
}
nav .navbar-item{
	width: 90%;
	height: 25px;
	background-color:#326fa8;
	border-radius: 10%/35%;
	transition:0.3s linear;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav .navbar-item a{
	text-decoration:none;
	color: white;
	font-size:20px;  
}
nav .navbar-item:hover{
	font-weight: bold;
	transform: translateX(5%);
}
main{
	grid-area: m;
	background-color: #3ba85f;
	display: flex;
	flex-direction: column;

}
main .avatar img{
	width: 300px;
	height: auto;
}
main .ava-desc{
	height: 500px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #2cbd5c;
	border-radius: 10%;
	border: 1px solid white;
	margin: 10px;
}
main .ava-desc .avatar {
	height: auto;
	width:300px;
	
	

}
main .ava-desc .desc{
	width: 150px;

	border:1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}
main .post {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	height: 30%;	
}
main .post span{
	align-self: flex-start;
	margin-left: 20px;
}
main .post textarea{
	min-width: 300px;
	max-width:300px;
	min-height: 100px;
	max-height:100px;
	background-color: #d9cc9c;
}
main .post button{
	align-self: flex-end;
	margin-right: 20px;
	border: 0;
	border-radius: 15%/35%;
	padding: 5px 10px;
	width: 70px;
	background-color: #d9cc9c;
	transition: transform 0.2s linear;
	font-weight: bold;
}
main .post button:hover{
	opacity: 1;
}
main .post button:active{
	transform: scale(0.8);
}