.item{
	position: absolute;

	background-color: blue;
	animation: go 2s linear;
	
	opacity: 0;
}
@keyframes go{
	from{
		transform: scale(1) rotate(0deg);
		opacity: 1;
	}
	to{
		transform: scale(0) rotate(360deg);
		opacity:0;
	}
}
button{
	position: absolute;
	bottom: 0px;
}
